.bzrignore
.bzr
*~
*/Makefile.in
Makefile
Makefile.in
ar-lib
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
depcomp
install-sh
stamp-h1
aclocal.m4
autom4te.cache
configure
missing
.deps
tags
intl
ABOUT-NLS
config.rpath
mkinstalldirs
dic/compdic
dic/listdic
dic/regexp
m4/codeset.m4
m4/fcntl-o.m4
m4/gettext.m4
m4/glibc2.m4
m4/glibc21.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intl.m4
m4/intldir.m4
m4/intlmacosx.m4
m4/intmax.m4
m4/inttypes-pri.m4
m4/inttypes.m4
m4/inttypes_h.m4
m4/isc-posix.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/lock.m4
m4/longdouble.m4
m4/longlong.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/size_max.m4
m4/stdint_h.m4
m4/threadlib.m4
m4/uintmax_t.m4
m4/ulonglong.m4
m4/visibility.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/en@boldquot.po
po/en@quot.po
po/*.gmo
po/*.mo
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
test/*.save
test/*/*.run
utils/eliotcurses
utils/eliottxt
linux
win32
extras/contrib/*.tar.gz
extras/contrib/*.tar.bz2
extras/contrib/.*
extras/contrib/lib*
extras/contrib/inst
extras/contrib/wx*
extras/contrib/qt*
extras/contrib/boost*
extras/contrib/expat*
extras/contrib/arabica*
extras/reports/*.pyc
qt/ui/*.h
qt/*.moc.cpp
qt/resources.cpp
qt/win32icon.rc
test/eliottxt
test/eliottxt.exe

