#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --disable-text --disable-ncurses --disable-dictools

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/eliot bindir=/usr/games install

