[Desktop Entry]
Name=Eliot
Comment=A Scrabble (TM) game
Comment[fr]=Un jeu de Scrabble (TM)
Exec=eliot
Icon=eliot
Terminal=false
Type=Application
Categories=Game;

